html,
body,
#root {
  width: 100%;
  min-height: 100%;
  overflow-x: clip;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: rgba(34,211,238,.25);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(34,211,238,.45);
}